#Container{
    border: 10px;
    background-color: black;
    width:130px;
    height: auto;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    gap:2.5px;
    justify-items: center;
}
#result{
    border:100px ;
    width: 122px;
    height: 25px;
    border-radius: 10px solid black ;
    background-color: whitesmoke;
    text-align:center;
}
button{
    width:40px;
    height:auto;
    background-color: antiquewhite;
}